.about__block {}

.about {}

.about__container {
  padding-top: 132px;
  align-items: flex-start;
  justify-content: space-between;
}

.container {}

.about__image {
  position: relative;
  align-items: flex-start;
}

.about-image__back-image {
  margin-right: 67px;
  width: 400px;
  height: 503px;
  max-width: 100%;
  max-height: 100%;
}

.about-image__back-sign {
  width: 171px;
  height: 171px;
  max-width: 100%;
  max-height: 100%;
}

.about-image__front-img {
  position: absolute;
  top: 65%;
  left: 40%;
  width: 404px;
  height: 293px;
  max-width: 100%;
  max-height: 100%;
}

.about__content {
  flex-basis: 45%;

}

.about__title {
  @include title__text;
  padding-bottom: 15px;

}

.about__subtitle {
  @include subtitle__text;

}

.about__text {
  padding: 40px 0;
  color: #6c6a72;
}

.about__items {}

.about__item {
  display: flex;
}

.about-item__icon {
  width: 64px;
  height: 64px;
  max-width: 100%;
  max-height: 100%;
}

.about-item__text {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
}

.about__preference {
  display: block;
  padding-top: 20px;

}

.preference__icon{
  width: 16px;
  max-width: 100%;
}

.preference__text {
  display: inline-block;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: $color-dark;
}

.about__button {
  margin: 60px 0 130px 0;
}

.buttons {}
