.icons {}

.contact__icon:not(:last-child) {
  padding-right: 0.5rem;
}

.network__icon:not(:last-child) {
  padding-right: 0.5rem;
  font-size: calc(20 / 16) * 1rem;
}

.call__icon {
  padding-left: calc(5 / 16) * 1rem;

  &:hover,
  &:focus {
    font-size: calc(17 / 16) * 1rem;
  }
}

.check__icon {
  font-size: calc(20 / 16) * 1rem;
  padding-right: calc(5 / 16) * 1rem;
}
