.bottom__menu {}

.menu {}

.menu__list {

}

.menu__item {
  font-size: 16px;
  font-weight: 600;
  color: #6C6A72;

    &:hover{
      color: $color-accent;
    }
    &:active{
      color: $color-accent;
    }
}

.menu__item:not(:last-child) {
  padding-right: 50px;

}


.menu__link {

}
