* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}


html,
body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $color-dark;
  letter-spacing: normal;
  line-height: 1rem;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: initial;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1em;
}

a {
  line-height: 0;
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.3125rem;
  max-width: 1320px;
  max-height: 100%;
  outline: 1px solid red;


  // @media (max-width: $tablet-max) {
  //   max-width: $tablet-max;
  //   padding: 0 30px;
  // }

  // @media (max-width: $mobile-max) {
  //   max-width: $mobile-max;
  //   padding: 0 10px;
  // }
}

