// Fonts
$font: 'Montserrat', 'Arial', sans-serif;

// colors
$color-dark: #07003B;
$color-light: #fff;
$color-light-gray: #98A0B7;
$color-accent-orange: #EDC048;

// $color-dark: #1d1729;
// $color-light: #FFFFFF;
// $color-primary: #2b1166;
// $color-accent: #703FAF;
// $color-font: #6c6a72;
// $color-yellow-light: #F5E8B8;
// $color-yellow: #f8d34e;
// $color-dark-yellow: #f8cb00;

// indents

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$tablet-max: $desktop - 1;
$mobile-max: $tablet - 1;
